{% capture pageid %}{{ page.wordpress_id | strip }}{% endcapture %}
{% assign comment_count = 0 %}
{% if site.data.comments[pageid] %}
  {% assign comment_count = site.data.comments[pageid].size  %}
{% endif %}  
{% if comment_count > 0 %}
<h3>{{ comment_count }} Responses to "{{ page.title }}"</h3>
<ul class="listing comments">
  {% assign comments =  site.data.comments[pageid] %}
      {% for comment in comments %}
        <li>
          <img src="{{ comment.avatar }}" alt="{{ comment.name }}">
          <time datetime="{{ comment.created | date_to_xmlschema }}">{{ comment.created | date_to_long_string  }}</time>
          {% if comment.url and comment.url != '' %}
	    <a href="{{ comment.url }}" class="commenter">{{ comment.name }}</a>
          {% else %}
	    <span class="commenter">{{ comment.name }}</span>
          {% endif %}
          <div>
	    {{ comment.comment }}
          </div>
        </li>
      {% endfor %}
</ul>
{% endif %}
