{% unless include.dim %}
  {% assign size = '/s350' %}
	{% assign size_alt = '=w350-' %}
{% else %}
  {% capture size %}/s{{ include.dim }} {% endcapture %}
	{% capture size_alt %}=w{{ include.dim }}-{% endcapture %}
{% endunless %}
<div class="thumbnail">
	<a href="{{ include.img }}"  title="{{ include.title }}"  class="lightgallery__image" >
		<img data-src="{{ include.img | replace : '/s2048',size | replace: '=w2560-',size_alt }}" class="img-responsive lazyload" style="margin:0 auto;" />
	</a>
	{% if include.title and include.caption %}
	<div class="caption">
    <h5>{{ include.title }}</h5>
  </div>
	{% endif %}
</div>

