<div class="thumbnail">
    <div style="display:none;" id="video_{{ include.id}}">
      <video class="lg-video-object lg-html5" controls preload="none">
          <source src="{{ include.video }}">
          Your browser does not support HTML5 video.
      </video>
    </div>
    <a  class="lightgallery__image thumbnail" data-poster="{{ include.img }}" data-sub-html="video caption1" data-html="#video_{{ include.id}}" >
          <img data-src="{{ include.img }}" class="lazyload"/>
    </a>
    {% if include.title and include.caption %}
	<div class="caption">
    <h5>{{ include.title }}</h5>
  </div>
	{% endif %}
</div>
