---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }} | <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#bericht" aria-controls="bericht" role="tab" data-toggle="tab">Bericht</a></li>
            {% capture pageid %}{{ page.wordpress_id | strip }}{% endcapture %}
            {% if site.data.fotos[pageid] and site.data.fotos[pageid].size > 0 %}
               <li role="presentation"><a href="#fotos" aria-controls="fotos" role="tab" data-toggle="tab">Fotos</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="bericht">     
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                        {{ content }}
                        {% include carousel.html %}

                        {% include comments.html %}


                        <ul class="pager">
                            {% if page.previous.url %}
                            <li class="previous">
                            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                            </li>
                            {% endif %}
                            {% if page.next.url %}
                            <li class="next">
                            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="fotos">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        {% include fotos.html %}
                    </div>
                </div>
            </div>
    </div> </div>
    
     {% include gallery.html %}
</article>

<hr>


